#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  background: linear-gradient(0deg, #1a2841 0%, #0b1322 100%, #080a0e 100%);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 16px;
}

ol {
  list-style: none;
  padding: 0;
}

li {
  padding: 8px 0;
  cursor: pointer;
}

li:hover {
  background-color: #f0f0f0;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.input-container input {
  flex-grow: 1;
  margin-right: 8px;
}

.filter-buttons {
  margin-bottom: 16px;
}
